parameters:
    level: 9
    scanDirectories:
        - ./src
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    ignoreErrors:
            -
                identifier: missingType.iterableValue
